extends ../layout

block content
  section.content
    .center
      h1 Thank you
      p.hero We will contact you in the next 48 hours
      p
        | After you are accepted into our system, we will send 
        br
        |  your information to the investors that meet your fundraising criteria.
      pre #{data}
      a.btn(href='/') Go to homepage