doctype html
html
  head
    meta(charset='utf-8')
    title Backster | A 79 Studios Company
    meta(name='author', content='STRV')
body
  h1 This is a test email template
  p
    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
    | there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
    | the Semantics, a large language ocean.
