extends layout

block content
  section.content
    .center
      h1 We are working on it!
      p.hero Sorry, the service is unavailable at the moment. It will be back soon.
      a.btn(href='') Retry  