extends layout

block content
  section.content
    .center
      h1 Oops!
      p.hero The page you are looking for doesn't exist!
      p
        | Go to our 
        a(href='/') homepage
        |  or 
        a(href='mailto:backster@79studios.com') contact us   
        | about the problem. 
