extends layout

block content
  section.content
    h1 Privacy Policy
    p
      | Last updated December 15, 2015

    h2 Our Policy
    p
      | Welcome to the website (the “Site”) of Backster, a 79 Studios’ product (“Backster,” “we,” “us” and/or “our”). We recognize that your privacy is very important and take it seriously. This Site is operated by Backster and has been created to provide information about our company and our software-as-a-service platform for hiring strategy consultants and managing projects and related services (together with the Site, the “Services”) to our Service visitors (“you”, “your”). This Privacy Policy sets forth our policy with respect to information including personally identifiable data (“Personal Data”) and other information that is collected from visitors to the Site and Services.

    h2 Information We Collect
    p
      | When you interact with us through the Services, we may collect Personal Data and other information from you, as further described below:

    p
      | Personal Data That You Provide Through the Services -- We collect Personal Data from you when you voluntarily provide such information, such as when you contact us with inquiries, respond to one of our surveys, register for access to the Services or use certain Services. 

    p
      | By voluntarily providing us with Personal Data, you are consenting to our use of it in accordance with this Privacy Policy. If you provide Personal Data to the Services, you acknowledge and agree that such Personal Data may be transferred from your current location to the offices and servers of Backster and the authorized third parties referred to herein located in the United States.

    p
      | Non-Identifiable Data -- When you interact with Backster through the Services, we receive and store certain personally non-identifiable information. Such information, which is collected passively using various technologies, cannot presently be used to specifically identify you. Backster may store such information itself or such information may be included in databases owned and maintained by Backster affiliates, agents or service providers. The Services may use such information and pool it with other information to track, for example, your web request, Internet Protocol ("IP") address, browser type, referring / exit pages and URLs, number of clicks, domain names, landing pages, pages viewed, and other such information. It is important to note that no Personal Data is available or used in this process.

    p
      | In operating the Services, we may use a technology called "cookies." A cookie is a piece of
    information that the computer that hosts our Services gives to your browser when you access the Services. Our cookies help provide additional functionality to the Services and help us analyze Services usage more accurately. For instance, our Site may set a cookie on your browser that allows you to access the Services without needing to remember and then enter a password more than once during a visit to the Site. In all cases in which we use cookies, we will not collect Personal Data except with your permission. On most web browsers, you will find a “help” section on the toolbar. Please refer to this section for information on how to receive notification when you are receiving a new cookie and how to turn cookies off. We recommend that you leave cookies turned on because they allow you to take advantage of some of the Service features.

    p
      | Aggregated Personal Data -- In an ongoing effort to better understand and serve the users of the Services, Backster often conducts research on its customer demographics, interests, and behavior based on the Personal Data and other information provided to us. This research may be compiled and analyzed on an aggregate basis, and Backster may share this aggregate data with its affiliates, agents and business partners. This aggregate information does not identify you personally. Backster may also disclose aggregated user statistics in order to describe our services to current and prospective business partners, and to other third parties for other lawful purposes.

    p
      | Third Party Tracking and Analytics -- Backster may use third party service providers such as Google Analytics or Mixpanel to help understand use of the Service. Google Analytics and Mixpanel collect the information sent by your browser as part of a web page request, including cookies and your IP address. Google Analytics and Mixpanel also receive this information and their use of it is governed by their privacy policies.

    h2 Our Use of Your Personal Data and Other Information
    p
      | Backster uses the Personal Data you provide in a manner that is consistent with this Privacy Policy. If you provide Personal Data for a certain reason, we may use the Personal Data in connection with the reason for which it was provided. For instance, if you contact us by email, we will use the Personal Data you provide to answer your question or resolve your problem. Also, if you provide Personal Data in order to obtain access to the Services, we will use your Personal Data to provide you with access to such services and to monitor your use of such services. 

    p
      | Backster and its subsidiaries and affiliates (the “Related Companies”) may also use your Personal Data and other personally non-identifiable information collected through the Services to help us improve the content and functionality of the Services as well as to better understand our users and to improve the Services. Backster and its affiliates may use this information to contact you in the future to tell you about services we believe will be of interest to you. If we do so, each marketing communication we send you will contain instructions permitting you to "opt-out" of receiving future marketing communications. In addition, if at any time you wish not to receive any future marketing communications or you wish to have your name deleted from our mailing lists, please contact us as indicated below.

    p
      | If Backster intends on using any Personal Data in any manner that is not consistent with this Privacy Policy, you will be informed of such anticipated use prior to or at the time at which the Personal Data is collected.

    h2 Our Disclosure of Your Personal Data and Other Information
    p
      | Backster is not in the business of selling your information. We consider this information to be a vital part of our relationship with you. There are, however, certain circumstances in which we may share your Personal Data with certain third parties without further notice to you, as set forth below:

    p
      | Business Transfers -- As we develop our business, we might sell or buy businesses or assets. In the event of a corporate sale, merger, reorganization, dissolution or similar event, Personal Data may be part of the transferred assets.

    p
      | Related Companies -- We may also share your Personal Data with our Related Companies for purposes consistent with this Privacy Policy.

    p
      | Agents, Consultants and Related Third Parties -- Backster, like many businesses, sometimes hires other companies to perform certain business-related functions. Examples of such functions include mailing information, maintaining databases and processing payments. When we employ another entity to perform a function of this nature, we only provide them with the information that they need to perform their specific function.

    p
      | Legal Requirements -- Backster may disclose your Personal Data if required to do so by law or in the good faith belief that such action is necessary to (i) comply with a legal obligation, (ii) protect and defend the rights or property of Backster, (iii) act in urgent circumstances to protect the personal safety of users of the Services or the public, or (iv) protect against legal liability.

    h2 Your Choices
    p
      | You can visit the Site without providing any Personal Data. If you choose not to provide any Personal Data, you may not be able to use certain Services.

    h2 Exclusions
    p
      | This Privacy Policy does not apply to any Personal Data collected by Backster other than Personal Data collected through the Services. This Privacy Policy shall not apply to any unsolicited information you provide to Backster through the Services or through any other means. This includes, but is not limited to, information posted to any public areas of the Services, such as forums, any ideas for new products or modifications to existing products, and other unsolicited submissions (collectively, “Unsolicited Information”). All Unsolicited Information shall be deemed to be non-confidential and Backster shall be free to reproduce, use, disclose, and distribute such Unsolicited Information to others without limitation or attribution.

    h2 Children’s Policy
    p
      | Protecting the privacy of young children is especially important. Backster does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register with the Service. If we become aware that we have collected personal information from a child under age 13 without verification of parental consent, we take steps to remove that information.

    p
      | If you have reason to believe that a child under the age of 13 has provided Personal Data to Backster through the Services, please contact us at the information below, and we will endeavor to delete that information from our databases.

    h2 Links to Other Web Sites
    p
      | This Privacy Policy applies only to the Services. The Services may contain links to other web sites not operated or controlled by Backster (the “Third Party Sites”). The policies and procedures we described here do not apply to the Third Party Sites. The links from the Services do not imply that Backster endorses or has reviewed the Third Party Sites. We suggest contacting those sites directly for information on their privacy policies.

    Security
    p
      | Backster uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your personal information. We cannot, however, ensure or warrant the security of any information you transmit to Backster or guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.

    p
      | However, no Internet or email transmission is ever fully secure or error free. In particular, email sent to or from the Services may not be secure. Therefore, you should take special care in deciding what information you send to us via email. Please keep this in mind when disclosing any Personal Data to Backster via the Internet.

    p
      | In the event that personal information is compromised as a result of a breach of security, Backster will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law.

    h2 Changes to Our Privacy Policy
    p
      | If we change our privacy policies and procedures, we will post those changes on this page to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted on this page.

    h2 Other Terms and Conditions
    p
      | Your access to and use of the Services is subject to the Terms of Service at www.backster.co/terms-and-conditions. 

    h2 Contacting Backster
    p
      | If you have any questions about our practices or this privacy policy, please contact us at backster@79studios.com. 

    p
      | You can also contact us to keep your Personal Data accurate, current, and complete. We will take reasonable steps to update or correct Personal Data in our possession that you have previously submitted via the Services. 