extends layout

block content
  section.content
    h1 Terms and Conditions
    p
      | Last updated December 15, 2015

    h2 Acceptance of Term rms
    p
      | Backster, a 79 Studios LLC product (“Backster,” “we,” “us,” or “our”), provides its Service (as defined below) to you through its web site located at www.backster.co (the “Site”), subject to this Terms of Service agreement (“TOS”). This is a legal agreement between you and Backster. By accepting this TOS, by accessing or using the Service or Site, you acknowledge that you have read, understood, and agree to be bound by this TOS. If you are entering into this TOS on behalf of a company, business or other legal entity, you represent that you have the authority to bind such entity and its affiliates to this TOS, in which case the terms “you” or “your” shall refer to such entity and its affiliates. If you do not have such authority, or if you do not agree with this TOS, you must not accept this TOS and may not use the Service.

    h2 Changes to Our Terms and Conditions
    p
      | This TOS, including the Privacy Policy, is subject to change by Backster at any time. We will notify you about significant changes in this TOS by sending a notice to the e-mail address registered in your account, or by placing a prominent notice on the Site, so that you can choose whether to continue using the Services. Non-material changes or clarifications will take effect immediately upon posting of the updated Terms of Service on the Site. You should periodically check this TOS page for updates. Any use of the Site or Services by you after the effective date of any changes will constitute your acceptance of such changes.
    p
      | The Services that Backster provides are always evolving and the form and nature of the Services that we provide may change from time to time without prior notice to you. In addition, we may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.

    h2 Description of Service
    p
      | The “Service(s)” includes (a) the Site, (b) Backster’s software-as-a-service platform for sharing deal information with investors and (c) all software (including the Software, as defined below), data, reports, text, images, sounds, video, and content made available through any of the foregoing (collectively referred to as the “Content”). Any new features added to or augmenting the Service are also subject to this TOS. 
    p
      | The Services provide a means for founders (“Founders”) and investors (“Investors”) to connect with one another. Founders and Investors must apply to and be accepted by Backster to use the Services. 

    h2 Obligations
    p
      | Founders on our site must have a legitimate company with intent to raise capital from Investors. Investors must be accredit investors.  

    h2 Use of Site and Service
    p
      | As a user of the Site or a user registered to use any of the Services (a “Registered User”), you agree to the following:

    ul
      li Exclusive Use. Your account is for your personal use only. You may not authorize others to use your account, and you may not assign or otherwise transfer your account to any other person or entity. You acknowledge that Backster is not responsible for third party access to your account that results from theft or misappropriation of your usernames and passwords.
      li Information Submitted. You are solely responsible for, and assume all liability regarding, (i) the information and content you contribute to the Service; (ii) the information and content you post, transmit, publish, or otherwise make available (hereinafter “post”) through the Services; and (iii) your interactions with other Registered Users through the Services.
      li Risk Assumption and Precautions. You assume all risk when using the Services, including but not limited to all of the risks associated with any online or offline interactions with others. You agree to take all necessary precautions when meeting individuals through our service.
      li No Guarantees. Backster may does not guarantee, either explicit or implied,  number or quality of deals that are sent to Investors. If Investors makes a investment, Backster has no responsiblity to that decision. Backster is purely an information sharing Site. 
      li Content Removal. Backster reserves the right, but has no obligation, to monitor the information or material you submit to the Services or post in the public areas of the Services. Backster will have the right to remove any such information or material that in its sole opinion violates, or may violate, any applicable law or either the letter or spirit of this TOS or upon the request of any third party.
      li No False Information. You will not provide inaccurate, misleading or false information to Backster or to any other user. If information provided to Backster or another user subsequently becomes inaccurate, misleading or false, you will promptly notify Backster of such change.
      li No Advertising or Commercial Solicitation. You will not advertise or solicit any user to buy or sell any products or services through the Site or Services. You may not transmit any junk or spam e-mail to other users. Further, you will not use any information obtained from the Services in order to contact, advertise to, solicit, or sell to any user without their prior explicit consent. If you breach the terms of this subsection and send or post unsolicited bulk email, “spam” or other unsolicited communications of any kind through the Services, you acknowledge that you will have caused substantial harm to Backster, but that the amount of such harm would be extremely difficult to ascertain. 
      li Selection of Profiles. Our service provides matching, and your Founder profiles will be selected to introduce you to specific matches based on our algorithm. You will be under no obligation to meet with or communicate with the match(es) we may introduce to you.

    h2 Proprietary Rights

    ul
      li Ownership of Proprietary Information. You hereby acknowledge and agree that Backster is the owner of highly valuable proprietary information, including without limitation, the matching algorithm, profiles, and profile questions. Backster owns and hereby retains all proprietary rights in the Services and the Site, including but not limited to, all Confidential Information.
      li No Use of Confidential Information. You will not post, copy, modify, transmit, disclose, show in public, create any derivative works from, distribute, make commercial use of, or reproduce in any way any (i) Confidential Information or (ii) other copyrighted material, trademarks, or other proprietary information accessible via the Services, without first obtaining the prior written consent of the owner of such proprietary rights.
      li Other Users’ Information. Other Registered Users may post copyrighted information, which has copyright protection whether or not it is identified as copyrighted. You agree that you will not copy, modify, publish, transmit, distribute, perform, display, commercially use, or sell any Backsterl or third party proprietary information available via the Services or the Site.
      li License to Posted Content. By posting information or content to any profile pages or public area of the Services, you automatically grant, and you represent and warrant that you have the right to grant, to Backster and its users, an irrevocable, perpetual, non-exclusive, fully-paid, worldwide license to use, reproduce, publicly perform, publicly display and distribute such information and content, and to prepare derivative works of, or incorporate into other works, such information and content, and to grant and authorize sub-licenses of the foregoing. 

    h2 User Information

    ul
      li Privacy Statement. For information about the collection and possible use of information and material provided by you, please read our Privacy Statement at www.backster.com/privacy. By using the Site or the Services, you are consenting to the terms of Backster’s Privacy Statement.
      li Contact Information. Founders agree that when their information matches with Investors that Backster is allowed to share your profile and contact information with the interested Investor.  

    Confidentiality
    p
      | All parties agrees to maintain in confidence and not disclose or use any non-public proprietary information or know-how belonging to the other parties except as required by law or judicial process. Proprietary information refers to any information obtained from, or disclosed by, the Founders or Backster, or which was learned or discovered by Backster and/or Investors in the performance of the Services, and which either is represented to be confidential by means of labeling or declaration, or is by its nature reasonably understood to be confidential. Such proprietary information includes, but is not limited to, software, technical and business information relating to the Backster or Founders’s inventions, or products, research and development, trade secrets, finances, customers, marketing, future business plans. 

    h2 Third Party Sites
    p
      | The Site may include links to other websites (including other sites that are framed within the Site) or applications, or functionality to connect with other websites (each, a "Third Party Site") or advertisements. We do not control or endorse any Third Party Site or advertisements, and we are not responsible for any content, product, advertising and other materials presented in or provided by such Third Party Site or advertisement. Your use and access of a Third Party Site is at your own risk, and is subject to the terms and conditions for such Third Party Site.

    h2 Representations and Warranties
    p
      | You represent and warrant to Backster that (i) you have full power and authority to enter into this TOS; (ii) you own all Your Content or have obtained all permissions, releases, rights or licenses required to engage in your posting and other activities (and allow Backster to perform its obligations) in connection with the Services without obtaining any further releases or consents; (iii) Your Content and other activities in connection with the Service, and Backster’s exercise of all rights and license granted by you herein, do not and will not violate, infringe, or misappropriate any third party’s copyright, trademark, right of privacy or publicity, or other personal or proprietary right, nor does Your Content contain any matter that is defamatory, obscene, unlawful, threatening, abusive, tortious, offensive or harassing; and (iv) you are eighteen (18) years of age or older.
    p
      | Backster warrants that it will provide the Services in good faith in accordance with applicable professional standards, but Backster disclaims any other warranty. No party shall be liable to the other for any consequential, indirect, or similar damages, including lost profits, as a result of the Services. In any action to enforce or for the breach of the Agreement, the prevailing party to such action shall be entitled to recover attorneys’ fees. 

    h2 Indemnification
    p
      | You shall defend, indemnify, and hold harmless Backster from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, arising or resulting from your breach of this TOS, any of Your Content, or your other access, contribution to, use or misuse of the Service. Backster shall provide notice to you of any such claim, suit or demand. Backster reserves the right to assume the exclusive defense and control of any matter which is subject to indemnification under this section. In such case, you agree to cooperate with any reasonable requests assisting Backster’s defense of such matter.

    h2 Assignment
    p
      | You may not assign, transfer, or subcontract any rights or obligations under this TOS without the prior written consent of Backster, but Backster may assign or transfer this TOS, in whole or in part, without restriction.

    h2 Term and Termination
    p
      | This TOS will become effective upon your acceptance of the TOS by your use of the Site or the Services and will remain in effect in perpetuity unless terminated hereunder. Either you or Backster may terminate your account at any time, for any reason or no reason, without explanation, effective upon sending written notice to the other party. Backster reserves the right to immediately suspend or terminate your access to any of the Services, without notice, for any reason or no reason. We also reserve the right to remove your account information or data from our Services and any other records at any time at our sole discretion. 

    h2 Cancellations
    p
      | Except as otherwise stated in this section, you may cancel your account with any Services at any time by contacting us at the contact information below. 

    h2 Miscellaneous
    p
      | If any provision of this TOS is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that this TOS will otherwise remain in full force and effect and enforceable. Both parties agree that this TOS and any Additional Terms as applicable, are the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this TOS, and that all waivers and modifications must be in a writing signed by both parties, except as otherwise provided herein. 

    h2 Governing Law
    p
      | Any controversy or claim arising out of or relating to this Agreement, or the breach thereof, shall be settled by arbitration in accordance with the Commercial Arbitration Rules of the American Arbitration Association, and judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction thereof, provided however, that each party will have a right to seek injunctive or other equitable relief in a court of law.  The prevailing party will be entitled to receive from the non-prevailing party all costs, damages and expenses, including reasonable attorneys’ fees, incurred by the prevailing party in connection with that action or proceeding, whether or not the controversy is reduced to judgment or award. Consultant, Customer, and Backster hereby consent to arbitration in the State of California in the county of Los Angeles.

    h2 No Joint Venture or Partnership. 
    p
      | Nothing in this TOS may be construed as making either party the partner, joint venturer, agent, legal representative, employer, contractor or employee of the other. Backster is not an employment service or agency, and does not serve as an employer or referral source for any Consultant.

    h2 International Access 
    p
      | The Site may be accessed from countries other than the United States. This Site and the Services may contain references to services that are only available within the United States and U.S. territories. Any such references do not imply that such services will be made available outside the United States. If you access and use this Site outside the United States you are responsible for complying with your local laws and regulations.

    h2 Severability
    p
      | If any provision of these Terms of Service is held unenforceable, then such provision will be modified to reflect the parties’ intention, and all remaining provisions of this TOS shall remain in full force and effect.

    h2 Complete Agreement
    p
      | This TOS contains the entire agreement between you and Backster regarding the use of the Site and Services, and supersede any prior agreement between you and us on such subject matter. The parties acknowledge that no reliance is placed on any representation made but not contained in this TOS.

    h2 Force Majeure
    p
      | Neither party is liable for any default or delay in the performance of any of its obligations under this TOS (other than failure to make payments when due) if such default or delay is caused, directly or indirectly, by forces beyond such party's reasonable control, including without limitation fire, flood, acts of God, labor disputes, accidents, acts of war or terrorism, interruptions of transportation or communications, supply shortages or the failure of any third party to perform any commitment relative to the production or delivery of any equipment, software or material required for such party to perform its obligations hereunder.

    h2 DMCA
    p
      | The Digital Millennium Copyright Act of 1998 (the “DMCA”) provides recourse for copyright owners who believe that material appearing on the Internet infringes their rights under U.S. copyright law. Backster will promptly process and investigate notices of alleged infringement and will take appropriate actions under the DMCA and other applicable intellectual property laws with respect to any alleged or actual infringement. A notification of claimed copyright infringement should be emailed to Backster’s Copyright Agent at hello@backster.co (subject: DMCA Takedown Request”). Please include identification of copyrighted work or material you believe to be infringed. Please describe the work or material with another other pertinent information such as the URL. 

    h2 Contacting Backster
    p
      | If you have any questions or need further information as to the Site or the Services, or need to notify Backster as to any matters relating to the Site or Services, please contact Backster and hello@backster.co.




